* {
  padding: 0;
  margin: 0;
  margin-bottom: 0;
  box-sizing: border-box;
}
body {
  /* border: solid red; */
  background-color: #d2b48c;
}

nav ul li {
  text-decoration: none;
}
.tam-carrousel {
  max-height: 50vh;
  overflow: hidden;
}
footer {
  background-color: #87ceeb;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  padding-top: 12px;

  text-align: center;
}
main {
  background-color: #ffd700;
  padding: 30px;
  margin: 0;
}
.color-personalizado {
  background-color: #1714eb !important;
}

.color-texto {
  color: white !important;
}
span {
  background-color: white !important;
}
/* Estilos para nuestras redes sociales jejeje */
.redes-sociales {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

/* Estilos para cards de boostrap */
.card-hoteles {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

/* Estilos para el manejo del DOMMMM */
#div-main {
  color: blue;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 3em;
  text-align: right;
}
