* {
  padding: 0;
  margin: 0;
  margin-bottom: 0;
  box-sizing: border-box;
}
body {
  /* border: solid red; */
  background-color: #d2b48c;
}

.tam-carrousel {
  max-height: 50vh;
  overflow: hidden;
}

main {
  background-color: #ffd700;
  padding: 30px;
  margin: 0;
}

/* Estilos para cards de boostrap */
.card-hoteles {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

/* Estilos para el manejo del DOMMMM */
#div-main {
  color: blue;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 3em;
  text-align: right;
}
